* {
  margin: 0 auto;
}

html, body {
    height: 100%;
}


.header-wrapper{
      /*padding-right: 20em;*/
      line-height: 2em;
      background: #e6e6e6;
      width: 100%;
      text-align: center;
      position: absolute;
}

.site-nav ul{
  list-style-type: none;
  width: 100%;
}


.site-nav li{
	float: left;
  padding: 0;
}

.site-nav li.site-title{
    padding-right: 20rem;
}

@media only screen and (max-width: 768px) {
    .site-nav li.site-title{
        padding-right: 0rem;
        padding-left: 0rem;
    }

}


.site-nav .lang-trigger{
  float: right;

}

.site-nav a {
  padding: 0.88235em 0.5em 0.88235em;
}

/* content and footer */

.page-content {
    min-height: 95%;
    text-align: justify;
    /* equal to footer height */
    margin-bottom: -3rem;
}


.site-footer{
    height: 3rem;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem;
}
.site-footer ul{
    list-style: none;
    overflow-wrap: break-word;
}
