<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li>
                <b>Контактный адрес:</b>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
            <li>
                <b>Google-группа участников:</b>
                <a href="{{ site.participants_group }}">{{ site.participants_group }}</a>
            </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">
      </div>
    </div>

  </div>

</footer>
